.dashboard-grid {
  /* background-color: red; */
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12 1fr);
}
/* .cards-container {
  grid-column: 1/13;
} */

.card-one {
  grid-column: 1/4;
}
.card-two {
  grid-column: 4/7;
}
.card-three {
  grid-column: 7/10;
}
.card-four {
  grid-column: 10/13;
}
.graph-chart {
  grid-column: 1/10;
}
.recent-activities {
  grid-column: 10/13;
}
