.merchant-dashboard-grid {
  background-color: red;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(100%, auto)); */
}

.card-one,
.card-two,
.card-three,
.branch-per-revenue-wrapper,
.product-analytics {
  grid-column: 1/13;
}

li::marker {
  color: rebeccapurple;
  font-size: 30px;
}

@media (min-width: 600px) {
  .card-one {
    grid-column: 1/7;
  }
  .card-two {
    grid-column: 7/13;
  }
  .card-three {
    grid-column: 1/7;
  }
}
@media (min-width: 1200px) {
  .card-one {
    grid-column: 1/5;
  }
  .card-two {
    grid-column: 5/9;
  }
  .card-three {
    grid-column: 9/13;
  }
  .branch-per-revenue-wrapper {
    grid-column: 1/5;
  }
  .product-analytics {
    grid-column: 5/13;
  }
}
