.products-page-grid {
  /* background-color: rebeccapurple; */
  display: grid !important;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

.top-selling-products,
.product-sales-analytics,
.product-catalogue {
  grid-column: 1/13;
}

@media (min-width: 980px) {
  .top-selling-products {
    grid-column: 1/9;
  }
  .product-sales-analytics {
    grid-column: 9/13;
  }
  .doughnut-stat-wrapper {
    flex-direction: column !important;
  }
}
