.dashboard-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
}

.dashboard-grid .card-one,
.dashboard-grid .card-two,
.dashboard-grid .card-three,
.dashboard-grid .card-four,
.dashboard-grid .graph-chart,
.dashboard-grid .recent-activities {
  grid-column: 1/13;
}

.dashboard-grid .graph-chart {
  height: 500px;
}

@media (min-width: 600px) {
  .dashboard-grid .card-one {
    grid-column: 1/7;
  }
  .dashboard-grid .card-two {
    grid-column: 7/13;
  }
  .dashboard-grid .card-three {
    grid-column: 1/7;
  }
  .dashboard-grid .card-four {
    grid-column: 7/13;
  }
}
@media (min-width: 1200px) {
  .dashboard-grid .card-one {
    grid-column: 1/4;
  }
  .dashboard-grid .card-two {
    grid-column: 4/7;
  }
  .dashboard-grid .card-three {
    grid-column: 7/10;
  }
  .dashboard-grid .card-four {
    grid-column: 10/13;
  }
  .dashboard-grid .graph-chart {
    grid-column: 1/10;
  }
  .dashboard-grid .recent-activities {
    grid-column: 10/13;
  }
}
