ul .list-item a.active {
  background-color: #f3f5ff;
  width: 100%;
  color: #2c72ff;
}
.nav-link {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.list-item {
  width: 100%;
}
.nav-link:hover {
  background-color: #2c72ff;
}

@media (max-width: 990px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 100%;
  }
  .show {
    left: 0;
    z-index: 100;
  }
}
