ul .list-item a.active {
  background-color: #f3f5ff;
  width: 100%;
  color: #2c72ff;
}
.nav-link {
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.list-item {
  width: 100%;
}
.nav-link:hover {
  background-color: #2c72ff;
}

.sidebar {
  display: none;
}
.mobile-menu {
  z-index: 10;
  padding: 5px 0;
  color: #fff;
}

@media (min-width: 900px) {
  .sidebar {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}

/* settings page */
.active-setting {
  font-weight: 600;
  font-size: 16px;
  color: #1459df;
}
