@font-face {
  font-family: FilsonPro-Medium;
  src: url('./assets/fonts/FilsonPro-Medium/FilsonPro-Medium.woff');
}

@font-face {
  font-family: FilsonPro-Regular;
  src: url('./assets//fonts//FilsonPro-Regular/FilsonPro-Regular.woff');
}

body {
  margin: 0;
  font-family: 'FilsonPro-Regular, FilsonPro-Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
